@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/locomotive-scroll/dist/locomotive-scroll";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: 0.75rem;
  }
}

$background: hsl(222.2 84% 4.9%);
$foreground: hsl(210 40% 98%);
$card: hsl(222.2 84% 4.9%);
$card-foreground: hsl(210 40% 98%);
$popover: hsl(222.2 84% 4.9%);
$popover-foreground: hsl(210 40% 98%);
$primary: hsl(217.2 91.2% 59.8%);
$primary-foreground: hsl(222.2 47.4% 11.2%);
$secondary: hsl(217.2 32.6% 17.5%);
$secondary-foreground: hsl(210 40% 98%);
$muted: hsl(217.2 32.6% 17.5%);
$muted-foreground: hsl(215 20.2% 65.1%);
$accent: hsl(217.2 32.6% 17.5%);
$accent-foreground: hsl(210 40% 98%);
$destructive: hsl(0 62.8% 30.6%);
$destructive-foreground: hsl(210 40% 98%);
$border: hsl(217.2 32.6% 17.5%);
$input: hsl(217.2 32.6% 17.5%);
$ring: hsl(224.3 76.3% 48%);
$radius: 1rem;

@layer utilities {
  /* This two helpers apply a -50% to the translate x/y, and add
   * a --y/--x css variable to it. This util is only here to make writing this class
   * a bit easier to read in the HTML :)   */
  .translate-y-centered-offset {
    @apply translate-y-[calc(-50%_+_var(--y))];
  }
  .translate-x-centered-offset {
    @apply translate-x-[calc(-50%_+_var(--x))];
  }
}

* {
  z-index: 1;
}

body,
html,
section {
  max-width: 100%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
header {
  color: $foreground;
}

canvas {
  min-height: 100vh;
}

.landingGradient {
  width: 70vh;
  height: 70vh;
  background: $primary;
  background: radial-gradient(circle, $primary 0%, $background 60%);
  background: -webkit-radial-gradient(circle, $primary 0%, $background 60%);
  background: -moz-radial-gradient(circle $primary 0%, $background 60%);
  background: -o-radial-gradient(circle, $primary 0%, $background 60%);
  background: -ms-radial-gradient(circle, $primary 0%, $background 60%);
  filter: blur(100px);
  z-index: 1;
}

.introducingMeetMate {
  min-height: 1.75rem;
  color: $foreground;
  background-color: #222;
  background-image: linear-gradient(130deg, $primary, $secondary);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 1px;
  font-size: 0.875rem;
  line-height: 157.143%;
  display: flex;
  overflow: hidden;

  & > div {
    min-height: 1.75rem;
    min-width: 100px;
    color: #fff;
    border: 1px solid $primary;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    font-size: 0.875rem;
    line-height: 157.143%;
    display: flex;
  }
}

@media screen and (min-width: 640px) {
  .landingHeading {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#fff 30%, #a0a0a0 84%);
    -webkit-background-clip: text;
    background-clip: text;

    & > span {
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(158deg, $primary 3%, #4f37c8 99%);
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}

.landingHeading {
  color: #fff;
  span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(158deg, $primary 3%, #4f37c8 99%);
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.nav {
  .navLeft,
  .navRight {
    transition: all 0.7s cubic-bezier(0.65, 0, 0.35, 1);
  }

  .navLink {
    transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  .navScroll {
    opacity: 0;
  }
  background: transparent;
}

.home_hero_gradient {
  z-index: -1;
  width: 110%;
  height: 105%;
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  background: rgb(142, 214, 255);
  background: linear-gradient(0deg, rgba(142, 214, 255, 1) 0%, $primary 10%, rgba(69, 134, 230, 0) 50%);
  color: #d7d7d7;
  text-align: center;
  border: 1px #2e2e2e;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 7.625rem 4.5rem 9.75rem;
  display: flex;
  position: absolute;
  top: auto;
  bottom: -5%;
  left: -5%;
  right: 0%;
  overflow: hidden;
}

.home_hero_pattern {
  height: 100%;
  width: auto;
  object-fit: contain;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.home_hero_pattern.is-left {
  transform-style: preserve-3d;
  left: 0% !important;
  right: auto !important;
  transform: rotateX(0) rotateY(90deg) rotate(0);
}

@media screen and (max-width: 767px) {
  .home_hero_circles {
    width: 100vw;
    height: 100vw;
    margin-left: -2.5rem;
    top: 40%;
  }
}

.home_hero_circles {
  width: 526px;
  height: 526px;
  opacity: 0.3;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 25%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.graphic_circle_large {
  width: 526px;
  height: 526px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  flex: none;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 767px) {
  .graphic_circle_medium {
    width: 80%;
    height: 80%;
  }
  .graphic_circle_large {
    width: 100%;
    height: 100%;
  }
  .graphic_circle_small {
    width: 60%;
    height: 60%;
  }
  .graphic_circle_tiny {
    width: 40%;
    height: 40%;
  }
}

.graphic_circle_medium {
  width: 418px;
  height: 418px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  flex: none;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0%;
  right: 0;
}

.graphic_circle_small {
  width: 294px;
  height: 294px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  flex: none;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.graphic_circle_tiny {
  width: 148px;
  height: 148px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  flex: none;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.home_hero_graphic {
  z-index: -1;
  width: 100%;
  height: 357px;
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  background-color: var(--black);
  color: #d7d7d7;
  text-align: center;
  border: 1px #2e2e2e;
  border-radius: 0 0 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 7.625rem 4.5rem 9.75rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 479px) {
  .home_aspects_grid {
    margin-bottom: 3.25rem;
  }
}

@media screen and (max-width: 767px) {
  .home_aspects_grid,
  .home_aspects_card.is-grid {
    flex-direction: column;
    display: flex;
  }
}

.home_aspects_grid {
  grid-column-gap: 1.875rem;
  grid-row-gap: 1.875rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: repeat(1fr);
  margin-bottom: 6.25rem;
  display: grid;
}

.home_aspects_card {
  grid-column-gap: 2.0625rem;
  grid-row-gap: 2.0625rem;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: $primary-foreground;
  border-radius: 1rem;
  flex-direction: column;
  padding: 2.0625rem 1.4375rem;
  transition:
    color 0.2s,
    background-color 0.2s;
  display: flex;

  &:hover {
    background-color: $border;
  }
}

.home_aspects_card.is-grid {
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1.1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

.home_aspects_heading {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.4375rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

@media screen and (max-width: 991px) {
  .home_aspects_card_number {
    font-size: 4rem;
  }
}

.home_aspects_card_number {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #969696;
  margin-bottom: -1.5rem;
  font-size: 6rem;
  font-weight: 600;
  line-height: 100%;
}

.home_aspects_card_heading {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 100%;
}

.span_gradient {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(158deg, #00e5d1 3%, #2577f9 99%);
  -webkit-background-clip: text;
  background-clip: text;
}

@media screen and (max-width: 767px) {
  .home_aspects_card_image {
    order: 1;
  }
}

.home_aspects_card_image {
  min-width: 100%;
  background-color: var(--black);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.home_aspects_card_arrow-icon {
  z-index: 2;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 1.25rem;
  left: auto;
  right: 1.375rem;
  transition: all 0.2s ease-in-out;
}

.home_aspects_card:hover .home_aspects_card_arrow-icon {
  color: $primary;
}

.background-blur.is-green.is-top-left {
  top: 120vh;
  bottom: auto;
  left: -2.5%;
  right: auto;
}

.background-blur.is-green {
  background-color: $ring;
}

.background-blur {
  z-index: -1;
  width: 20.1875rem;
  height: 20.1875rem;
  filter: blur(150px);
  background: radial-gradient(circle, $primary 0%, $background 60%);
  border-radius: 100%;
  position: absolute;
  left: auto;
  right: 0;
  overflow: hidden;
}

.background-blur.is-bottom-left {
  top: 150vh;
  bottom: 5%;
  left: auto;
}

.home_aspects_card_content {
  grid-column-gap: 2.0625rem;
  grid-row-gap: 2.0625rem;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 767px) {
  .home_aspects_grid,
  .home_aspects_card.is-grid {
    flex-direction: column;
    display: flex;
  }
}
